# Requires Python 3.10
torch==2.5.1
numpy==1.26.4
opencv-python==4.10.0.84
pillow==11.0.0
transformers==4.47.1
groundingdino==0.1.0
langchain==0.3.13
scipy==1.14.1
python-dotenv
faiss-cpu==1.9.0.post1
langchain-openai==0.2.14
